<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
</head>
<body>
    <h1>
        Notre idée est de créer un jeux sur les base de pokémon mélanger à Zelda,
        ce jeux à pour principe d’apprendre au joueur à moins polluer par le biais de l’amusement.
        Ce jeux à comme principe : lorsque le joueur lance une partie,
        il atterrie dans un village avec des PNJ qui lui donnerons des informations prélever au préalable dans des docs.
        Lorsque le joueur va interagir avec les PNJ il va prendre compte des connaissance apporter par les PNJ.
        Suite à cela il va se diriger vers des monstres au mouvement aléatoire. 
        Lorsque le joueur entre en collisions avec les monstres une interface 
        apparait avec un affirmation lancer par le monstre, cette affirmation sera fausse ( une fake news) 
        et suite à cela nous aurons une propositions de 4 réponse pour contrer la fake news,
        si la réponse est bonne le monstre est éliminé, sinon on perd le combat et devons recommencer.
        Le but est de prévenir le joueur et de se renseigner avant d’assimiler une information.  
    </h1>
</body>
</html>