<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Description</title>
</head>
<body>
    <p>
        Notre idée est de créer un jeu sur les bases de pokémon mélangé à Zelda,
        ce jeu a pour principe d’apprendre au joueur à moins polluer par le biais de l’amusement.
        Lorsque le joueur lance une partie, il atterrit dans un village. 
        Les villageois lui donnent des informations (provenant de sources sûres).<
        Suite à cela, le joueur part à la rencontre de monstres au mouvement aléatoire. 
        Lorsque le joueur entre en collision avec un monstre, ce dernier l'attaque avec une fake news. Pour se défendre,
        le joueur dispose de quatre réponses possibles. Une seule permet de contredire la fake news et éliminer le monstre.
        En cas de mauvaise réponse, joueur perd le combat et doit recommencer.
         
    </p>
</body>
</html>