{% extends "base.html" %}

{% block content %}

<div class="flex flex-column text-center">
    <div class="text-center py-4">
        <h1 class="text-center pb-3" style="height: max-content;">Ecodève</h1>
        <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/static/img/papa_noel.jpg"></a>
        <p class="text-center pb-3 px-5">
            Ce site est le projet de 13 lycéens de NSI au lycée Joseph Vallot de Lodève accompagnés de leur professeur lors de la nuit du code, un évènement consistant à créer un site web sur un thème donné par les organisateurs de l’évènement et de compléter des défis imposés par les partenaires de l’évènement. <br>
            Cette année, le sujet était de taille : créer un site mettant en garde contre la désinformation notamment sur l’urgence climatique de façon ludique et accessible au grand public tout en gardant des données chiffrées et surtout des solutions. <br>
            Notre équipe a décidé de mettre en place un jeu interactif avec l’utilisateur du site afin qu’il apprenne en s’amusant. De plus, avec les informations apportées et les liens pour que chacun puisse se renseigner plus amplement sur les sujets qui l’intéresse ou tester son empreinte carbone permet d’apporter une continuité au projet et de laisser aux utilisateurs le choix d’approfondir à leur guise !
        </p>
    </div>

    <div class="pb-3">
        <h2 class="text-center"><img src="/static/img/background.jpg" alt="Image de pollution"></h2>
        <br>
        <a href="/game" class="btn btn-lg btn-success">Jouer</a>
    </div>

    <div class="w-auto bg-white">
        <ul class="white-bar">
            <li></li>
        </ul>
    </div>
</div>

{% if lang != "fr" %}
<script src="/static/js/trad.js"></script>
{% endif %}

{% endblock %}